* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Open Sans", sans-serif;
}

:root {
  --black-color: #000;
  --white-color: #fff;
  --text-color: #333;
}

header {
  position: relative;
  width: 1522px;
  height: 870px;
  background-color: azure;
  background: url(/assets/images/parallax-2.jpg) no-repeat center left 20%;
  overflow: hidden;
}

/* Nav */

.nav {
  display: flex;
  position: relative;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.12);
  padding: 40px;
  justify-content: space-around;
}

.logo {
  flex: 15%;
  text-align: center;
}

.logo-nav {
  width: 160px;
}

.menu {
  width: 100%;
  flex: 70%;
  align-self: center;
}

.menu-list {
  font-weight: 500;
  display: flex;
  list-style: none;
  color: var(--white-color);
  align-items: center;
  justify-content: space-around;
}

.menu-item-1,
.menu-item-2,
.menu-item-3,
.menu-item-4,
.menu-item-5,
.menu-item-6,
.menu-item-7 {
  padding: 8px 18px;
}

.menu-item-1,
.menu-item-2,
.menu-item-3,
.menu-item-4,
.menu-item-5,
.menu-item-6,
.menu-item-7:hover {
  cursor: pointer;
}

/* Menu item 2  */
.menu-item-2:hover > .menu-item-2_sub-menu {
  display: block;
}

.menu-item-2_sub-menu::before {
  position: absolute;
  left: 0;
  top: -26px;
  width: 100%;
  height: 28px;
  content: "";
  display: block;
}

.menu-item-2_sub-menu {
  width: 40px;
  list-style: none;
  position: absolute;
  top: 80%;
  left: 25%;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  min-width: 192px;
  color: rgb(167, 163, 163);
  border-radius: 4px;
  display: none;
}

.menu-item-2_sub-menu > li > a {
  padding-left: 12px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(167, 163, 163);
}

.menu-item-hot {
  float: right;
  background-color: #f76570;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  padding: 3px 8px;
  margin-right: 4px;
  margin-top: 4px;
}

.menu-item-2_sub-menu > li:hover {
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 3px;
}

.menu-item-2_sub-menu > li {
  padding: 12px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.sub-menu-item-2-child {
  width: 40px;
  list-style: none;
  position: absolute;
  top: 38%;
  left: 114%;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  min-width: 192px;
  color: rgb(167, 163, 163);
  border-radius: 4px;
  display: none;
}

.sub-menu-item-2-child > li:hover {
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 3px;
}

.menu-item-2-child:hover > .sub-menu-item-2-child {
  display: block;
}

.menu-item-2-child::before {
  position: absolute;
  left: 100%;
  top: 38%;
  width: 15%;
  height: 130px;
  content: "";
  display: block;
}

.sub-menu-item-2-child > li {
  padding: 12px;
  font-weight: 600;
  padding-left: 20px;
  color: rgb(167, 163, 163);
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.menu-item-2_sub-menu > li > a {
  padding-left: 12px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(167, 163, 163);
}

.menu-item-best {
  float: right;
  background-color: #14b9d5;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  padding: 3px 8px;
  margin-right: 2px;
  margin-top: 4px;
}

.ti-angle-right {
  text-align: center;
  font-size: 12px;
  float: right;
  margin-top: 6px;
}

/* Menu item 3 */
.menu-item-3:hover > .menu-item-3_sub-menu {
  display: block;
}

.menu-item-3_sub-menu::before {
  position: absolute;
  left: 0;
  top: -26px;
  width: 100%;
  height: 28px;
  content: "";
  display: block;
}

.menu-item-3_sub-menu {
  width: 40px;
  list-style: none;
  position: absolute;
  top: 80%;
  left: 34%;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  min-width: 192px;
  color: rgb(167, 163, 163);
  border-radius: 4px;
  display: none;
}

.menu-item-3_sub-menu > li {
  padding: 12px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.menu-item-3_sub-menu > li:hover {
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 3px;
}

.menu-item-3_sub-menu > li > a {
  padding-left: 12px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(167, 163, 163);
}

/* Menu item 4 */
.menu-item-4:hover > .menu-item-4_sub-menu {
  display: block;
}

.menu-item-4_sub-menu::before {
  position: absolute;
  left: 0;
  top: -26px;
  width: 100%;
  height: 28px;
  content: "";
  display: block;
}

.menu-item-4_sub-menu {
  width: 40px;
  list-style: none;
  position: absolute;
  top: 80%;
  left: 41%;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  min-width: 192px;
  color: rgb(167, 163, 163);
  border-radius: 4px;
  display: none;
}

.menu-item-4_sub-menu > li {
  padding: 12px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.menu-item-4_sub-menu > li:hover {
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 3px;
}

.menu-item-4_sub-menu > li > a {
  padding-left: 12px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(167, 163, 163);
}

.menu-item-new {
  float: right;
  background-color: #1bbc9b;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  padding: 3px 8px;
  margin-right: 4px;
  margin-top: 4px;
}

/* Menu item 5 */
.menu-item-5:hover > .menu-item-5_sub-menu {
  display: block;
}

.menu-item-5_sub-menu::before {
  position: absolute;
  left: 0;
  top: -26px;
  width: 100%;
  height: 28px;
  content: "";
  display: block;
}

.menu-item-5_sub-menu {
  width: 40px;
  list-style: none;
  position: absolute;
  top: 80%;
  left: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  min-width: 192px;
  color: rgb(167, 163, 163);
  border-radius: 4px;
  display: none;
}

.menu-item-5_sub-menu > li {
  padding: 12px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.menu-item-5_sub-menu > li:hover {
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 3px;
}

.menu-item-5_sub-menu > li > a {
  padding-left: 12px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(167, 163, 163);
}

.sub-menu-item-5-child-1 {
  width: 40px;
  list-style: none;
  position: absolute;
  top: 70%;
  left: 114%;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  min-width: 192px;
  color: rgb(167, 163, 163);
  border-radius: 4px;
  display: none;
}

.sub-menu-item-5-child-2 {
  width: 40px;
  list-style: none;
  position: absolute;
  top: 88%;
  left: 114%;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  min-width: 192px;
  color: rgb(167, 163, 163);
  border-radius: 4px;
  display: none;
}

.sub-menu-item-5-child-1 > li:hover {
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 3px;
}

.sub-menu-item-5-child-2 > li:hover {
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 3px;
}

.menu-item-5-child-1:hover > .sub-menu-item-5-child-1 {
  display: block;
}

.menu-item-5-child-2:hover > .sub-menu-item-5-child-2 {
  display: block;
}

.menu-item-5-child-1::before {
  position: absolute;
  left: 100%;
  top: 70%;
  width: 15%;
  height: 130px;
  content: "";
  display: block;
}

.menu-item-5-child-2::before {
  position: absolute;
  left: 100%;
  top: 88%;
  width: 15%;
  height: 72px;
  content: "";
  display: block;
}

.sub-menu-item-5-child-1 > li {
  padding: 12px;
  font-weight: 600;
  padding-left: 20px;
  color: rgb(167, 163, 163);
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.sub-menu-item-5-child-2 > li {
  padding: 12px;
  font-weight: 600;
  padding-left: 20px;
  color: rgb(167, 163, 163);
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
/* Menu item 6 */
.menu-item-6:hover > .menu-item-6_sub-menu {
  display: block;
}

.menu-item-6_sub-menu::before {
  position: absolute;
  left: 0;
  top: -26px;
  width: 100%;
  height: 28px;
  content: "";
  display: block;
}

.menu-item-6_sub-menu {
  width: 40px;
  list-style: none;
  position: absolute;
  top: 80%;
  left: 58%;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  min-width: 192px;
  color: rgb(167, 163, 163);
  border-radius: 4px;
  display: none;
}

.menu-item-6_sub-menu > li {
  padding: 12px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.menu-item-6_sub-menu > li:hover {
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 3px;
}

.menu-item-6_sub-menu > li > a {
  padding-left: 12px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(167, 163, 163);
}

.sub-menu-item-6-child {
  width: 40px;
  list-style: none;
  position: absolute;
  top: 38%;
  left: 114%;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  min-width: 192px;
  color: rgb(167, 163, 163);
  border-radius: 4px;
  display: none;
}

.sub-menu-item-6-child > li:hover {
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 3px;
}

.menu-item-6-child:hover > .sub-menu-item-6-child {
  display: block;
}

.menu-item-6-child::before {
  position: absolute;
  left: 100%;
  top: 38%;
  width: 15%;
  height: 130px;
  content: "";
  display: block;
}

.sub-menu-item-6-child > li {
  padding: 12px;
  font-weight: 600;
  padding-left: 20px;
  color: rgb(167, 163, 163);
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

/* Menu item 7 */
.menu-item-7:hover > .menu-item-7_sub-menu {
  display: block;
}

.menu-item-7_sub-menu::before {
  position: absolute;
  left: 0;
  top: -26px;
  width: 100%;
  height: 28px;
  content: "";
  display: block;
}

.menu-item-7_sub-menu {
  width: 40px;
  list-style: none;
  position: absolute;
  top: 80%;
  left: 64%;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  min-width: 192px;
  color: rgb(167, 163, 163);
  border-radius: 4px;
  display: none;
}

.menu-item-7_sub-menu > li {
  padding: 12px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.menu-item-7_sub-menu > li:hover {
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 3px;
}

.menu-item-7_sub-menu > li > a {
  padding-left: 12px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(167, 163, 163);
}

.menu-item_active {
  padding: 8px 18px;
  border-radius: 30px;
  background-color: #ba71da;
}

.icon-nav {
  text-align: right;
  flex: 15%;
  align-self: center;
  margin-right: 12px;
  font-size: 26px;
  color: var(--white-color);
}
/* End Nav */

/* Wrapper */
.head_container {
  width: 1200px;
  height: 400px;
  margin: 200px;
}

.wrapper {
  height: 400px;
  padding: 0 15px;
  text-align: center;
}

.wrapper_title {
}

.wrapper_big-title {
  color: #ffffff;
  /* padding: px; */
  text-align: center;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0px;
  font-weight: bold;
  margin-bottom: 20px;
}

.wrapper_big-title-special {
  position: relative;
  z-index: 99;
}

.wrapper_big-title-special::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 8px;
  z-index: -9;
  background-color: #ba71da;
}

.wrapper_small-title {
  color: #ffffff;
  /* padding: px; */
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 4px;
  font-weight: normal;
  margin-bottom: 20px;
}

/* Seclect */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
:root {
  --primary: #08aeea;
  --secondary: #13d2b8;
  --purple: #bd93f9;
  --pink: #ff6bcb;
  --blue: #8be9fd;
  --gray: #333;
  --font: "Poppins", sans-serif;
  --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
  --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  font-size: 1.4rem;
  overflow-x: hidden;
  font-weight: 300;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: var(--font);
  font-size: 1.4rem;
  font-weight: 300;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

.dropdown {
  height: 44px;
  width: 370px;
  --primary: #33ccff;
  --secondary: #47536b;
  position: relative;
  margin: 68px 400px 0;
  border-radius: 8px;
}
.dropdown-caret {
  color: var(--primary);
}
.dropdown-select {
  background-color: white;
  box-shadow: var(--shadow);
  padding: 1.5rem;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.dropdown-select * {
  pointer-events: none;
}
.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: white;
  box-shadow: var(--shadow);
  padding: 1.5rem;
  border-radius: 8px;
  display: none;
  list-style: none;
  text-align: start;
}
.dropdown-list:before {
  content: "";
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transform: translateY(-100%);
}
.dropdown-list.show {
  display: block;
}
.dropdown-item {
  padding: 1.5rem;
  color: var(--secondary);
  transition: all 0.25s ease;
  border-radius: 8px;
  cursor: pointer;
}
.dropdown-item:hover {
  color: var(--primary);
  background-color: #f1fbff;
}
